@{
    ViewBag.Title = "TaskStatisticsMonthDiagram";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Статистика</title>
</head>
<body>
    <br />
    <br />
    <div>
        <a class="btn btn-default" href="/Statistic/TaskStatisticsMonth">Статистика за текущий месяц</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-default" href="/Statistic/TaskStatisticsLastMonth">Статистика за предыдущий месяц</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-default" href="/Statistic/TaskStatisticsWeek">Статистика за текущую неделю</a>&nbsp;&nbsp;&nbsp;
        @*<a href="/Home/TaskStatisticsMonth">Статистика за день</a><br />*@
    </div>
</body>
</html>