@using todon.ViewModels.UserProfiles
@model UserProfileViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>UserProfile</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <input type="hidden" asp-for="UserId" />
        <div class="form-group">
            <label asp-for="UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Mail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Mail" class="form-control" readonly/>
                <span asp-validation-for="Mail" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Picture" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <img src="@Model.PictureFullPath" style="width:100px"/>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger" />
            </div>
        </div>       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
<form asp-action="Upload" enctype="multipart/form-data" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="Picture" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type='file' name='file' />
                <input type="submit" value="Upload" />
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

